﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.estilomcm {
    width: 100%;
    height: 57px;
    border-top: 1px solid #373737;
    font: 14px Rajdhani,sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 48px 0 0;
    padding: 25px 0 0;
    text-align: center;
    background-color: #2e2e2e;
}