﻿@model DemoOuvidoria.Models.MensagemEntidade

@{
    ViewBag.Title = "Fale Conosco";
    //Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="jumbotron">
    <h3 style="text-align: center;">Canal da Comunicação</h3>
    <p>Tendo elogios, sugestões, dúvidas, reclamações ou denúncias quanto aos serviços prestados pela MCM, não deixe de nos comunicar!</p>
    <p>A MCM possui o Fale Conosco, um canal de comunicação direto, pronto pra te atender e esclarecer qualquer ocorrência. A identificação não é obrigatória, caso queira identificar-se, asseguramos total sigilo. </p>
</div>

<div class="container" style="width:100%;margin-top:2%">

    <form id="myForm">

        @Html.DropDownListFor(model => model.TipoMsgID, ViewBag.TipoMensagemLista as SelectList, "-- Tipo de Mensagem --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoMsgID, "", new { @class = "text-danger" })

        <br />
        @Html.TextBoxFor(model => model.NomeColaborador, new { @class = "form-control", @placeholder = "Nome do Colaborador" })
        @Html.ValidationMessageFor(model => model.NomeColaborador, "", new { @class = "text-danger" })

        <br />
        @Html.TextBoxFor(model => model.TelefoneColaborador, new { @class = "form-control", @placeholder = "Telefone do Colaborador" })
        @Html.ValidationMessageFor(model => model.TelefoneColaborador, "", new { @class = "text-danger" })

        <br />
        @Html.TextBoxFor(model => model.EmailColaborador, new { @class = "form-control", @placeholder = "E-mail da Obra" })
        @Html.ValidationMessageFor(model => model.EmailColaborador, "", new { @class = "text-danger" })

        <br />
        @Html.TextAreaFor(model => model.MensagemColaborador, new { @class = "form-control", @placeholder = "Escreva aqui sua Mensagem com até 250 caracteres." })
        @Html.ValidationMessageFor(model => model.MensagemColaborador, "", new { @class = "text-danger" })

        <br />
        <br />
        <input type="reset" value="Submit" class="btn btn-block btn-primary" id="btnSubmit" />

    </form>

    <!--    <div style="text-align:center; display:none" id="loaderDiv">
            <img src="~/Content/InternetSlowdown_Day.gif" />
        </div>
        -->
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var data = $("#myForm").serialize();

            if (!$("#myForm").valid()) {
                return false;
            }

            //$("#loaderDiv").show();

            $.ajax({

                type: "POST",
                url: "/Home/Index",
                data: data,
                success: function (response) {

                    //$("#loaderDiv").hide();
                    alert("Mensagem Enviada com Sucesso!");

                }

            })

        })

    })
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>