﻿@model IEnumerable<DemoOuvidoria.Models.MensagemEntidade>

@{
    ViewBag.Title = "Registros";
    //Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container" style="width:90%;margin-top:2%">
    @if (Model != null)
    {
        <table class="table table-striped">
            <tr>
                <th>Nome Pessoa</th>
                <th>Fone Pessoa</th>
                <th>E-mail Pessoa</th>
                <th>Tipo Mensagem</th>
                <th>Mensagem</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.NomeColaborador </td>
                        <td> @item.TelefoneColaborador </td>
                        <td> @item.EmailColaborador </td>
                        <td> @item.TipoMsgNome </td>
                        <td> @item.MensagemColaborador </td>
                    </tr>
                }
                <tr></tr>
            </tbody>
        </table>
    }
</div>

